# Virtual environments
vectorJIT/
.env/
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Compiled C/C++ artifacts
*.so
*.dylib
*.o
*.a

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Editor temp files
*.swp
*~
.vscode/
.idea/


logs.txt
logs/

clear_cache.py